* {
    /* font-size: 17px; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: sans-serif; */
    /* line-height: 1.4;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}



.container {
    margin: 155px;
    padding: 25px;
    box-shadow: 1px 1px 5px #333;
    /* background: #333e3e; */
    /* background: #e9e9e9;     */
}

/* header */

.nav.nav-tabs {
    background: #333 !important;
}

.tab-content {
    /* margin: 0 25px 0 25px; */
    margin: 0 100px 0 100px;
}

.btn {
    margin: 10px 0 10px 0;
}

.content>.panel-heading {
    overflow: auto;
    background: #333;
    color: white;
}

#home>.form-group, .content>.form-group {
    /* border: 1px solid; */
    margin: 25px 0 25px 0;
    overflow: auto;
}

/* Painel Solicitações */

#camposDevolucao>.content>#tabelaSolicitacoes {
    border-radius:  0px 0px 16px 16px;
    box-shadow: 1px 1px 1px 1px #333;
}

/* efeito de transição ao passar em cada coluna das tabelas */

.table>tbody>tr>td {
    transition: all .1s;
    text-align: center;
    /* vertical-align: none; */
}


#camposDevolucao>.content>#tabelaSolicitacoes >tbody>tr>td:hover {
    border: 2px solid orange;
     font-size: 23px;
}

 /* .table>tbody>tr>td:hover {
    /* background: skyblue; */
    /* border: 1px solid;
    border-top: 1px solid; */
    /* border: 2px solid orange; */
    /* background: lightseagreen; */
    /* background: dodgerblue; */
    /* font-size: 23px;
    font-weight: bold; 
} */ 

#panelAdicionar input[type="text"] {
    margin: 0 0 23px 0;
}

/* PAINEL DE RESERVAS */

#painelReserva {
    margin: 35px;
    /* border: 1px solid #a2a2a2; */
    /* border-radius: 0 0 16px 16px; */
    /* border: none; */

}
#tabelaReservas{
    /* border: none; */
    /* border-radius: 16px;
    /* box-shadow: 1px 1px 1px 1px #333; */ 

    border-radius:  0px 0px 16px 16px;
    box-shadow: 1px 1px 1px 1px #333;

}


#tabelaReservas>tbody>tr>th, #tabelaReservas>tbody>tr>td {
    padding: 35px;
    margin: 35px;
}

.popover.fade.right.in>.popover-content {
    /* padding : 25px; */
}

.popover.fade.right.in>.popover-content>div {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.popover.fade.right.in>.popover-content>div>table>tbody>tr {
    /* padding: 8px 23px; */
}

.popover.fade.right.in>.popover-content>div>table>tbody>tr>th {
    padding: 8px 23px;
}

/* ... */
#rodape {
    padding: 55px 0 0 0;
}