ul {
    padding: 10px;
    /* p10  obs*/
    margin-bottom: 10px;
    /* mb10 */
    margin: 10%;
    /* m10p */
    text-align: center;
    /* tac */
    background-color: #fff;
    /* bc */
    background-color: lightblue;
    /* bc:lightblue */
    color: #000;
    /* c */
    color: #333333;
    /* c#333 */
}